<footer class="footer-section">
  <div class="container">
    <div class="footer-content">
      <!-- Logo and Intro -->
      <div class="footer-logo">
        <a
          ><h2 class="trade-winds-regular">
            Gym<span class="highlight">AI</span>
          </h2></a
        >
        <p>Smarter training. Better results. Powered by AI.</p>
      </div>

      <!-- Quick Links -->
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/calculator">Calculator</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/team">Our Team</a></li>

          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="footer-contact">
        <h4>Contact</h4>
        <p>
          <i class="fa fa-map-marker"></i>
          <a
            href="https://www.google.com/maps/place/Sanganer+Thana+Flyover,+Jaipur,+Rajasthan+302029"
            target="_blank"
          >
            Jaipur, RJ 302029
          </a>
        </p>
        <p>
          <i class="fa fa-phone"></i>
          <a href="tel:+917742261033">+91 7742261033</a>
        </p>
        <p>
          <i class="fa fa-envelope"></i>
          <a href="mailto:gymai@neelahouse.cloud">gymai@neelahouse.cloud</a>
        </p>
      </div>

      <!-- Social Media -->
      <div class="footer-social">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-youtube-play"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <!-- Bottom -->
    <div class="footer-bottom">
      <p>
        &copy; 2025 GymAI. All Rights Reserved. | Built by
        <span><strong>Bhawesh Sharma</strong></span> with ❤️
      </p>
    </div>
  </div>
</footer>
