<!-- Overlay for mobile menu -->
<div
  class="offcanvas-menu-overlay"
  [class.active]="menuOpen"
  (click)="closeMenu()"
></div>

<!-- Offcanvas mobile menu -->
<div class="offcanvas-menu-wrapper" [class.active]="menuOpen">
  <div class="canvas-close" (click)="closeMenu()">
    <i class="fa fa-close"></i>
  </div>

  <nav class="canvas-menu mobile-menu">
    <ul>
      <!-- Default (not logged in) -->
      <ng-container *ngIf="!isLoggedIn">
        <li (click)="closeMenu()">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/about" routerLinkActive="active"> About Us </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/calculator" routerLinkActive="active"> Calculator </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/services" routerLinkActive="active"> Services </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/team" routerLinkActive="active"> Our Team </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/contact" routerLinkActive="active"> Contact </a>
        </li>
      </ng-container>

      <!-- Logged in as USER -->
      <ng-container *ngIf="isLoggedIn">
        <li (click)="closeMenu()">
          <a routerLink="/plan-dashboard" routerLinkActive="active">
            <i class="fa fa-tachometer-alt nav-icon-left"></i>
            Dashboard
          </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/diet" routerLinkActive="active">
            <i class="fa fa-utensils nav-icon-left"></i>
            Diet
          </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/workout" routerLinkActive="active">
            <i class="fa fa-dumbbell nav-icon-left"></i>
            Workout
          </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/tracker" routerLinkActive="active">
            <i class="fas fa-bullseye nav-icon-left"></i>
            Tracker
          </a>
        </li>
        <li (click)="closeMenu()">
          <a routerLink="/user-ticket" routerLinkActive="active">
            <i class="fa fa-comment-dots nav-icon-left"></i>
            Support
          </a>
        </li>
      </ng-container>

      <!-- Logged in as ADMIN -->
      <!-- <ng-container *ngIf="isLoggedIn && userRole === 'ADMIN'">
            <li (click)="closeMenu()">
              <a routerLink="/team" routerLinkActive="active">
                <i class="fa fa-tachometer-alt nav-icon-left"></i>
                Dashboard
              </a>
            </li>
            <li(click)="closeMenu()">
              <a routerLink="/team" routerLinkActive="active">
                <i class="fa fa-users-cog nav-icon-left"></i>
                Client
              </a>
            </li>
            <li (click)="closeMenu()">
              <a routerLink="/team" routerLinkActive="active">
                <i class="fa fa-comment-dots nav-icon-left"></i>
                Feedback
              </a>
            </li>
          </ng-container> -->
    </ul>
  </nav>

  <div class="canvas-social">
    <ng-container *ngIf="isLoggedIn; else mobileLoginIcon">
      <a class="nav-icon" routerLink="/user-profile" (click)="closeMenu()">
        <i class="fa fa-user"></i>
      </a>
      <a class="nav-icon logout-icon" (click)="logout(); closeMenu()">
        <i class="fa fa-sign-out"></i>
      </a>
    </ng-container>

    <ng-template #mobileLoginIcon>
      <a class="nav-icon" routerLink="/login" (click)="closeMenu()">
        <i class="fa fa-sign-in-alt"></i>
      </a>
    </ng-template>
  </div>
</div>

<!-- Desktop Navbar -->
<header class="header-section">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a routerLink="/">
          <span class="fw-bold text-white trade-winds-regular text-nowrap">
            GYM <span class="highlight">AI</span>
          </span>
        </a>
      </div>

      <nav class="nav-menu">
        <ul>
          <!-- Default (not logged in) -->
          <ng-container *ngIf="!isLoggedIn">
            <li>
              <a
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fa fa-home nav-icon-left"></i>
                Home
              </a>
            </li>
            <li>
              <a routerLink="/about" routerLinkActive="active">
                <i class="fa fa-info-circle nav-icon-left"></i>
                About Us
              </a>
            </li>
            <li>
              <a routerLink="/calculator" routerLinkActive="active">
                <i class="fa fa-calculator nav-icon-left"></i>
                Calculator
              </a>
            </li>
            <li>
              <a routerLink="/services" routerLinkActive="active">
                <i class="fa fa-dumbbell nav-icon-left"></i>
                Services
              </a>
            </li>
            <li>
              <a routerLink="/team" routerLinkActive="active">
                <i class="fa fa-users nav-icon-left"></i>
                Our Team
              </a>
            </li>
            <li>
              <a routerLink="/contact" routerLinkActive="active">
                <i class="fa fa-envelope nav-icon-left"></i>
                Contact
              </a>
            </li>
          </ng-container>

          <!-- Logged in as USER -->
          <ng-container *ngIf="isLoggedIn">
            <li>
              <a routerLink="/plan-dashboard" routerLinkActive="active">
                <i class="fa fa-tachometer-alt nav-icon-left"></i>
                Dashboard
              </a>
            </li>
            <li>
              <a routerLink="/diet" routerLinkActive="active">
                <i class="fa fa-utensils nav-icon-left"></i>
                Diet
              </a>
            </li>
            <li>
              <a routerLink="/workout" routerLinkActive="active">
                <i class="fa fa-dumbbell nav-icon-left"></i>
                Workout
              </a>
            </li>
            <li (click)="closeMenu()">
              <a routerLink="/tracker" routerLinkActive="active">
                <i class="fas fa-bullseye nav-icon-left"></i>
                Tracker
              </a>
            </li>
            <li>
              <a routerLink="/user-ticket" routerLinkActive="active">
                <i class="fa fa-comment-dots nav-icon-left"></i>
                Support
              </a>
            </li>
          </ng-container>

          <!-- Logged in as ADMIN -->
          <!-- <ng-container *ngIf="isLoggedIn && userRole === 'ADMIN'">
            <li>
              <a routerLink="/team" routerLinkActive="active">
                <i class="fa fa-tachometer-alt nav-icon-left"></i>
                Dashboard
              </a>
            </li>
            <li>
              <a routerLink="/team" routerLinkActive="active">
                <i class="fa fa-users-cog nav-icon-left"></i>
                Client
              </a>
            </li>
            <li>
              <a routerLink="/team" routerLinkActive="active">
                <i class="fa fa-comment-dots nav-icon-left"></i>
                Feedback
              </a>
            </li>
          </ng-container> -->
        </ul>
      </nav>

      <div class="top-option">
        <div class="user-actions">
          <!-- Profile or Login -->
          <ng-container *ngIf="isLoggedIn; else loginIcon">
            <a
              class="nav-icon"
              routerLink="/user-profile"
              routerLinkActive="active"
              title="Profile"
            >
              <i class="fa fa-user"></i>
            </a>
            <a class="nav-icon logout-icon" (click)="logout()" title="Logout">
              <i class="fa fa-sign-out"></i>
            </a>
          </ng-container>

          <ng-template #loginIcon>
            <a
              class="nav-icon"
              routerLink="/login"
              routerLinkActive="active"
              title="Login"
            >
              <i class="fa fa-sign-in-alt"></i>
            </a>
          </ng-template>
        </div>
      </div>

      <div class="canvas-open" (click)="toggleMenu()">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
</header>
