.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: white;
  padding: 1rem;

  .brand {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.2rem;

    li {
      cursor: pointer;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
